:root {
    /* Mocha colors */
    --rosewater-mocha: #f5e0dc;
    --flamingo-mocha: #f2cdcd;
    --pink-mocha: #f5c2e7;
    --mauve-mocha: #cba6f7;
    --red-mocha: #f38ba8;
    --maroon-mocha: #eba0ac;
    --peach-mocha: #fab387;
    --yellow-mocha: #f9e2af;
    --green-mocha: #a6e3a1;
    --teal-mocha: #94e2d5;
    --sky-mocha: #89dceb;
    --sapphire-mocha: #74c7ec;
    --blue-mocha: #89b4fa;
    --lavender-mocha: #b4befe;
    --text-mocha: #cdd6f4;
    --subtext1-mocha: #bac2de;
    --subtext0-mocha: #a6adc8;
    --overlay2-mocha: #9399b2;
    --overlay1-mocha: #7f849c;
    --overlay0-mocha: #6c7086;
    --surface2-mocha: #585b70;
    --surface1-mocha: #45475a;
    --surface0-mocha: #313244;
    --base-mocha: #1e1e2e;
    --mantle-mocha: #181825;
    --crust-mocha: #11111b;

    /* Latte colors */
    --rosewater-latte: #dc8a78;
    --flamingo-latte: #dd7878;
    --pink-latte: #ea76cb;
    --mauve-latte: #8839ef;
    --red-latte: #d20f39;
    --maroon-latte: #e64553;
    --peach-latte: #fe640b;
    --yellow-latte: #df8e1d;
    --green-latte: #40a02b;
    --teal-latte: #179299;
    --sky-latte: #04a5e5;
    --sapphire-latte: #209fb5;
    --blue-latte: #1e66f5;
    --lavender-latte: #7287fd;
    --text-latte: #4c4f69;
    --subtext1-latte: #5c5f77;
    --subtext0-latte: #6c6f85;
    --overlay2-latte: #7c7f93;
    --overlay1-latte: #8c8fa1;
    --overlay0-latte: #9ca0b0;
    --surface2-latte: #acb0be;
    --surface1-latte: #bcc0cc;
    --surface0-latte: #ccd0da;
    --base-latte: #eff1f5;
    --mantle-latte: #e6e9ef;
    --crust-latte: #dce0e8;
}
